---
import { useTranslation } from "@/i18n"
import { NAV_ITEMS } from "./constants"

const currentLang = Astro.params.lang || "es"
const t = useTranslation(currentLang as "es" | "en")
const lang = currentLang === "es" ? "English" : "Español"
const langLength = lang.length
---

<header id="header" class="fixed top-0 w-full z-50 transition-all duration-300 bg-transparent">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between items-center py-4">
			<div class="flex items-center space-x-2">
				<img src="/logo/logo-icon-white.webp" alt="Raymundo Salazar" class="h-14" />
				<div class="block h-6 w-45 bg-neutral-600 animate-pulse rounded-full"></div>
			</div>
			<nav class="hidden md:flex gap-6 items-center">
				{
					NAV_ITEMS.map(item => (
						<button
							type="button"
							class={`text-sm font-medium transition-colors duration-200 text-gray-300`}
							data-section={item.id}
						>
							<div
								class="block h-3 bg-neutral-600 animate-pulse rounded-full"
								style={{
									width: `${t.nav[item.id as keyof typeof t.nav].length * 7}px`,
								}}
							/>
						</button>
					))
				}
				<a
					href={currentLang === "es" ? "/en" : "/es"}
					class={`flex text-sm font-medium transition-colors duration-200 text-gray-300 gap-2 items-center p-2 rounded-lg bg-neutral-700/50`}
				>
					<div class="block h-5 w-5 bg-neutral-600 animate-pulse rounded-full"></div>
					<div
						class="block h-3 bg-neutral-600 animate-pulse rounded-full"
						style={{
							width: `${langLength * 7}px`,
						}}
					>
					</div>
				</a>
			</nav>
			<button
				id="menu-toggle"
				class="md:hidden p-2 rounded-lg transition-colors text-white"
				aria-label={t.nav.openMenu}
			>
				<div class="block h-7 w-7 bg-neutral-600 animate-pulse rounded-sm"></div>
			</button>
		</div>
	</div>
</header>
