---
import type { HeroSocialIconProps } from "./types"

const { url, icon: Icon } = Astro.props as HeroSocialIconProps
---

<a
	href={url}
	class="p-3 bg-neutral-800 rounded-full shadow-md hover:shadow-lg transition-all duration-300 text-gray-300 hover:text-blue-400"
	target="_blank"
>
	<Icon className="h-6 w-6" />
</a>
