---
import Analytics from "@vercel/analytics/astro"

import Hero from "@/components/organisms/Hero/index.astro"
import Header from "@/components/organisms/Header/index.astro"
import About from "@/components/organisms/About/index.astro"
import Skills from "@/components/organisms/Skills/index.astro"
import Timeline from "@/components/organisms/Timeline/index.astro"
import Contact from "@/components/organisms/Contact/index.astro"
import Footer from "@/components/organisms/Footer/index.astro"

import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="icon"
			href="/favicon.svg"
			type="image/svg+xml"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			href="/favicon-white.svg"
			type="image/svg+xml"
			media="(prefers-color-scheme: dark)"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Raymundo Salazar - Fullstack JS Developer & UI/UX Designer</title>
		<Analytics />
	</head>
	<body class="bg-neutral-900">
		<div class="min-h-screen">
			<Header />
			<Hero />
			<About />
			<Skills />
			<Timeline />
			<Contact />
			<Footer />
		</div>
	</body>
</html>
